@import url(https://fonóts.googleapis.com/css?family=Open+Sans);
* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: rgb(253, 252, 251);
    width: 100%;
}

header {
    display: block;
    height: auto;
    width: 100%;
}

nav {
    height: auto;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    height: 10%;
    width: 100%;
}

main {
    height: 60%;
}

.hide {
    position: absolute;
    top: -1px;
    left: -1px;
    width: 1px;
    height: 1px;
}

nav ul {
    margin-top: 0px;
    text-align: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    background-color: #ce0000;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    padding: 18px;
    font-family: "Open Sans";
    text-transform: uppercase;
    color: #411111;
    font-size: 18px;
    text-decoration: none;
    display: block;
}

nav ul li a:hover,
.logout:hover,
.products:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.1);
    color: rgba(0, 35, 122, 0.7);
}

.products,
.logout {
    font-family: "Open Sans";
    text-transform: uppercase;
    background: rgba(255, 255, 255, 0);
    color: #411111;
    padding: 18px;
    font-size: 18px;
    border: none;
}

input.logout,
button.products {
    cursor: pointer;
}

.dropdown-products {
    position: relative;
    display: inline-block;
}

.products-content {
    display: none;
    position: absolute;
    background-color: #f07070;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.products-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.products-content a:hover {
    background-color: #ed9292
}

.dropdown-products:hover .products-content {
    display: block;
}

.dropdown-products:hover .products {
    background-color: rgba(255, 255, 255, 0.1);
}

.error form {
    margin: 15px;
    background-color: tomato;
    color: antiquewhite;
}

.login {
    border-radius: 25px;
    border: 3px solid rgb(187, 9, 47);
    border-width: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    background-color: rgb(253, 244, 247);
    height: 850px;
    padding-top: 50px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(255, 2, 141, 0.19);
}

.login img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 26.5%;
    margin-left: 36.75%;
}

.login input[type=text],
.login input[type=password] {
    width: 60%;
    margin-left: 20%;
    display: inline-block;
    border: 1px solid rgb(187, 9, 47);
    box-sizing: border-box;
    padding-left: 10px;
    margin-top: 10px;
    height: 50px;
    font-size: 1.5em;
    text-align: center;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(255, 2, 141, 0.19);
}

.buttonLogin input {
    background-color: rgb(247, 231, 231);
    color: rgb(199, 30, 86);
    cursor: pointer;
    width: 60%;
    margin-left: 20%;
    margin-top: 60px;
    height: 50px;
    font-size: 2.2em;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(255, 2, 141, 0.19);
}

.buttonLogin :hover {
    background-color: rgb(199, 30, 86);
    /* Green */
    color: white;
}

.login label {
    color: rgb(199, 30, 86);
    float: left;
    box-sizing: border-box;
    margin-left: 25%;
    margin-bottom: 5px;
    margin-top: 50px;
    font-size: 1.5em;
}

.login .check {
    float: left;
    height: 150px;
    margin-top: 10px;
    width: 80%;
    margin-right: 20%;
}

.login .check input[type=checkbox] {
    display: none;
}

.login .check input[type=checkbox]+label::before {
    width: 22px;
    height: 18px;
    background-image: url("https://boolie.org/wp-content/uploads/2017/11/unchecked.png");
    display: block;
    content: "";
    float: left;
}

.login .check input[type=checkbox]:checked+label::before {
    background-image: url("https://boolie.org/wp-content/uploads/2017/11/checked.png");
}

.login .check a {
    float: left;
    box-sizing: border-box;
    margin-top: 30px;
    margin-left: 25%;
    font-size: 1.5em;
    color: rgb(199, 30, 86);
}


/*
.login .check label {
    background-color: black;
    margin-bottom: 2px;
    font-size: 1.2em;
}
*/

.error-text {
    color: red;
}