* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}
body{
    background: #F0F0F0;
}
main{
    margin: 30px 50px 50px 50px;
    padding: 50px 50px 50px;
    font-size: 16px;
}

.login{
    font-size: 20px;
}
.links {
    background-color: #aa1a33;
    position: fixed;
    height: 50px;
    text-align: center;
}
.links a {
    color:white;
    text-decoration: none;
    padding: 30px;
    width:auto;
    margin: 60px;

}
a:hover{color: rosybrown;}

.error {
    margin: 15px;

    background-color: tomato;
    color:antiquewhite;
}