@import url(https://fonóts.googleapis.com/css?family=Open+Sans);

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding:0;
}
body{
    background: white;
}
header{
    background-image: url("background.jpg");
    height: 200px;
}
header img{
    padding: 1px;
    background-image: url("background.jpg");
    height: 200px;
}


.hide {
    position: absolute;
    top: -1px;
    left: -1px;
    width: 1px;
    height: 1px;
}
.navi{
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    background-color: #ce0000;
}
.dropdown-button{

    background-color: inherit;
}
.navi a, .dropdown-button, .logout{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border: none;
}
.navi .icon{
    display: none;
}
@media screen and (max-width: 600px) {
    .navi a:not(:first-child) {display: none;}
    .dropdown-button {display: none;}
    .navi a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
}
.navi.responsive {
    position: relative;

}
.logout-navi{
    float: right;
}

 .dropdown-button:hover, .navi a:hover, .logout:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.1);
    color: rgba(0, 35, 122, 0.7);
}
 .home-icon{
    font-size: 50px;
    padding: 18px;
}
.dropdown-button, .logout {
    background: rgba(255, 255, 255, 0);
    border: none;
}
input.logout, button.dropdown-button{
    cursor: pointer;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f07070;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: #ed9292}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropdown-button {background-color: rgba(255, 255, 255, 0.1);}


footer{
    padding-bottom: 0;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 10px;
}
.login {
    font-size: 20px;
}


.error {
    margin: 15px;
    background-color: tomato;
    color: antiquewhite;
}

.error-text {
    color: red;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.container >div{
    margin: 10px 0;
    padding: 40px 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f7f7f7;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.container>div a{
    text-decoration: none;
    color: black;
}
.container-image{
    margin-left: 30px;
    height: 300px;
    width: 100px;

}

.container-name{
    margin: 0 auto;
    width: 110px;
    text-decoration: none;
}
.container-name a:hover{
    color:#4b35ef;
}
.container-price{
    font-weight: bold;
    margin: 0 auto;
}
.basket-button button{

    padding: 15px 25px;
    background-color: #ce0000;
    color: white;
    border: none;
    border-radius: 50px;
    text-transform: uppercase;
}
.basket-button button:hover{
    background-color: #670808;

}
.basket-button button {
    cursor: pointer;
}

@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ }
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media screen and (max-width: 600px)  {  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
    nav ul li a{
        display: flex;
    }
}
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */
}

<!--BEN LOGIN -->

.login {
    border-radius: 25px;
    border: 3px solid rgb(187, 9, 47);
    border-width: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    background-color: rgb(253, 244, 247);
    height: 850px;
    padding-top: 50px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(255, 2, 141, 0.19);
}

.login img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 26.5%;
    margin-left: 36.75%;
}

.login input[type=text],
.login input[type=password] {
    width: 60%;
    margin-left: 20%;
    display: inline-block;
    border: 1px solid rgb(187, 9, 47);
    box-sizing: border-box;
    padding-left: 10px;
    margin-top: 10px;
    height: 50px;
    font-size: 1.5em;
    text-align: center;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(255, 2, 141, 0.19);
}

.buttonLogin input {
    background-color: rgb(247, 231, 231);
    color: rgb(199, 30, 86);
    cursor: pointer;
    width: 60%;
    margin-left: 20%;
    margin-top: 60px;
    height: 50px;
    font-size: 2.2em;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(255, 2, 141, 0.19);
}

.buttonLogin :hover {
    background-color: rgb(199, 30, 86);
    /* Green */
    color: white;
}

.login label {
    color: rgb(199, 30, 86);
    float: left;
    box-sizing: border-box;
    margin-left: 25%;
    margin-bottom: 5px;
    margin-top: 50px;
    font-size: 1.5em;
}

.login .check {
    float: left;
    height: 150px;
    margin-top: 10px;
    width: 80%;
    margin-right: 20%;
}

.login .check input[type=checkbox] {
    display: none;
}

.login .check input[type=checkbox] + label::before {
    width: 22px;
    height: 18px;
    background-image: url("https://boolie.org/wp-content/uploads/2017/11/unchecked.png");
    display: block;
    content: "";
    float: left;
}

.login .check input[type=checkbox]:checked + label::before {
    background-image: url("https://boolie.org/wp-content/uploads/2017/11/checked.png");
}

.login .check a {
    float: left;
    box-sizing: border-box;
    margin-top: 30px;
    margin-left: 25%;
    font-size: 1.5em;
    color: rgb(199, 30, 86);
}