@import url(https://fonóts.googleapis.com/css?family=Open+Sans);

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background: white;
}

header {
    background-image: url("background.jpg");
    height: 250px;

    background-repeat: no-repeat;
    background-size: cover;
}

header img {
    padding: 1px;
    background-image: url("background.jpg");
    height: 250px;
}

.hide {
    position: absolute;
    top: -1px;
    left: -1px;
    width: 1px;
    height: 1px;
}

/*Navi*/
.menu,
.menu ul,
.menu li,
.menu a {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

.menu {
    height: 40px;
    width: 100%;

    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    background-color: #9a0002;


}

/*Basket, Wine Quide*/
.menu li, .menu .logout {
    position: relative;
    list-style: none;
    float: left;
    display: block;
    height: 40px;
}

.menu li a, .menu .logout [type="submit"] {
    display: block;
    padding: 0 14px;
    margin: 6px 0 8px 0;
    line-height: 28px;
    text-decoration: none;


    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 17px;

    color: #f3f3f3;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .6);

    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
}

.menu .logout [type="submit"] {

    padding: 6px 2px;
    margin: 0;
    cursor: pointer;
    background-color: inherit;
    border: none;


}

.menu li:first-child a {
    border-left: none;
}

.menu li:last-child a {
    border-right: none;
}

.menu ul {
    position: absolute;
    top: 40px;
    left: 0;

    opacity: 0;
    background: #df5659;

    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;

    -webkit-transition: opacity .25s ease .1s;
    -moz-transition: opacity .25s ease .1s;
    -o-transition: opacity .25s ease .1s;
    -ms-transition: opacity .25s ease .1s;
    transition: opacity .25s ease .1s;

}

.menu li:hover ul {
    opacity: 1;

}

.menu ul li {
    height: 0;
    overflow: hidden;
    padding: 0;
    -webkit-transition: height .25s ease .1s;
    -moz-transition: height .25s ease .1s;
    -o-transition: height .25s ease .1s;
    -ms-transition: height .25s ease .1s;
    transition: height .25s ease .1s;


}

.menu li:hover ul li {
    height: 36px;
    overflow: visible;
    padding: 0;

}

.menu li:hover, .logout [type="submit"]:hover {
    background-color: #ed9292
}

.menu ul li a {
    width: 200px;
    padding: 4px 0 4px 40px;
    margin: 0;

    border: none;
    border-bottom: 1px solid #353539;
}

.menu .logout {
    float: right;
    padding-left: 1px;
}

/*Responsive navi*/
.menu .responsive-class-icon {
    display: none;
}




@media screen and (max-width: 600px) {

    .menu li:not(:first-child) {
        display: none;
    }

    .menu .responsive-class-icon {
        float: right;
        display: block !important;
    }
    .menu.responsive {
        position: relative;
        height: auto;

    }
    .menu.responsive ul {
        float: left;
        background-color: #670808;
        width: 30%;
        height: auto;
        z-index: 1;

    }
    .menu.responsive ul li a{
        border: none;
    }
    .menu.responsive .logout [type="submit"]{
        margin-left: 13px;

    }
    .menu.responsive li a{
        margin-top: 0;
        padding-top: 7px;
    }
    .menu.responsive li ul{
        position: absolute;
        width: 100%;
    }
    .menu.responsive .responsive-class-icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    header{
        background-repeat: round;
        background-size: cover;
    }
    .container article{
        flex: 0 1 40% !important;
        margin: 5% !important;

    }

}

.menu.responsive li, .menu.responsive .logout {
    float: none;
    display: block;
    text-align: left;
}


/*End Navi*/
h1{
    text-align: center;
    margin: 3% 0;
}
footer {

    padding-bottom: 0;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 10px;
}

.login {
    font-size: 20px;
}

.error {
    margin: 15px;
    background-color: tomato;
    color: antiquewhite;
}

.error-text {
    color: red;
}
/*Products */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}


.container article {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #f7f7f7;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    flex: 0 1 24%;
    margin: 2.5% 1px;

}

.container article a {
    text-decoration: none;
    color: black;
}



.container-image {
    padding-top: 10%;
    height: 235px;
    width: 75px;
}


.container-name {
    margin: 2%;
    text-decoration: none;
    font-weight: bold;
    font-size: smaller;
}

.container-name a:hover {
    color: #4b35ef;
}

.container-price {
    font-weight: bold;

}



.basket-button button {
    padding: 15px 10px;
    margin: 5%;
    background-color: #9a0002;
    color: white;
    border: none;
    border-radius: 50px;
    text-transform: uppercase;
}

.basket-button button:hover {
    background-color: rosybrown;
}

.basket-button button {
    cursor: pointer;
}
/*End Products*/

/*Start slides*/
/* The grid: Four equal columns that floats next to each other */
.column {
    float: left;
    width: 16%;
    padding: 10px;
}

/* Style the images inside the grid */
.column img {
    opacity: 0.8;
    cursor: pointer;
}

.column img:hover {
    opacity: 1;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* The expanding image container */
.container-slide {
    position: relative;
    display: none;
}

/* Expanding image text */
#imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
}

/* Closable button inside the expanded image */
.closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
}
/*End slides*/
.register {
    background-color: rgb(253, 244, 247);

    margin: 0 auto;
    width: 70%;
    height: 700px;
    border-radius: 4px;
}

.register input {
    border-radius: 4px;
}

.nameEmail .text {
    margin-top: 3%;
    margin-left: 5%;
    margin-bottom: 3%;
}

.nameEmail .dateOfBirth {
    margin-left: 5%;
    margin-top: 3%;
}

.nameEmail .radio {
    margin-top: 2%;
    width: 100%;
    margin-left: 5%;
}

.radio label {
    margin-right: 1%;
}

.radio input {
    margin-left: 1%;
}

.nameEmail .password {
    margin-top: 50px;
    margin-left: 50%;
}

.register .data {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 70%;
    margin-bottom: 100px;
    flex-wrap: wrap;
}

.data .nameEmail {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}

.register .address {
    margin: 0 auto;
    width: 50%;
}

.login {
    margin-top: 3%;
    box-sizing: border-box;
    border-radius: 25px;
    border: 3px solid #ce0000;
    border-width: 10px;
    display: block;
    margin-left: 33%;
    width: 34%;
    background-color: rgb(253, 244, 247);
    height: 700px;
    padding-top: 50px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(255, 2, 141, 0.19);
}

.login img {
    display: flex;
    justify-content: center;
    height: 100px;
    width: 100px;
    margin: 0 auto;
}

.login input[type=text],
.login input[type=password] {
    border-radius: 4px;
    width: 60%;
    margin-left: 20%;
    margin-right: auto;
    border: 1px solid #ce0000;
    box-sizing: border-box;
    margin-top: 10px;
    font-size: 1.3em;
    text-align: center;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(255, 2, 141, 0.19);
}

.buttonLogin input {
    border-radius: 4px;
    background-color: rgb(247, 231, 231);
    color: #ce0000;
    cursor: pointer;
    width: 60%;
    margin-left: 20%;
    margin-top: 60px;
    font-size: 1.3em;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(255, 2, 141, 0.19);
}

.buttonLogin :hover {
    background-color: #ce0000;
    /* Green */
    color: white;
}

.login label {
    color: #ce0000;
    float: left;
    margin-left: 25%;
    margin-bottom: 5px;
    margin-top: 25px;
    font-size: 1.3em;
    margin-right: 10%;
    overflow: hidden;
}

.login .check {
    float: left;
    margin-top: 10px;
    width: 80%;
    margin-right: 20%;
}

.login .check input[type=checkbox] {
    display: none;
}

.login .check input[type=checkbox]+label::before {
    width: 22px;
    height: 18px;
    background-image: url("https://boolie.org/wp-content/uploads/2017/11/unchecked.png");
    display: block;
    content: "";
    float: left;
}

.login .check input[type=checkbox]:checked+label::before {
    background-image: url("https://boolie.org/wp-content/uploads/2017/11/checked.png");
}

.login .check a {
    float: left;
    box-sizing: border-box;
    margin-top: 30px;
    margin-left: 25%;
    font-size: 1.3em;
    color: #ce0000;
}




